.bp img{
    width: 90%;
    height: 200px;
    border: solid 2px  rgb(3, 125, 165);
    margin-top: 4px;
   
}

.bp {
    display:flex;
    text-align: center;
    flex-wrap: wrap;

}

.btn{
    width: 140px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(3, 125, 165);
    border: 0;
    margin-bottom: 5px;
}

.bp div{
    margin: 10px ;
    width: 270px;
    box-shadow: 1px 1px 10px black;
   
}

#s1{
    color: yellow;
}

#s2{
    color: blue;
}

#s3{
    color: brown;
}


#btn{
    font-size: 1.4em;
    cursor: pointer;    
    padding: 0.3em;
    background-color:aquamarine;
    border-radius: 1em;
    box-shadow:  0 0 20px #3d3d3d;;
    margin-bottom: 2em;
    margin-top:2em;
}
